@import './colors.scss';

%flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdownContainer {
    width: 100%;
    max-width: 350px;
    min-height: 200px;
    margin: 10% auto;
    font-family: sans-serif;
    color: $gray-black;
    background-color: white;
    box-shadow: 0px 0px 26px -2px rgba(0, 0, 0,.3);
}

.header {
    @extend %flex-row;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid $green;
    border-radius: 3px 3px 0 0;
    background-color: $white-gray;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.label {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}

.lawyerDetailsRow {
    @extend %flex-row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $white-gray;
}

.contactName {
    height: 26px;
    line-height: 26px;
    margin: 10px 0;
    padding-left: 10px;
    border: 1px solid  $gray-black;

}

.emailContainer, .phoneContainer {
    @extend %flex-row;
}

.address {
    text-align: right;
    font-style: italic;
}

.button {
    color: $dark-brown;
    background-color: $light-brown;
    padding: 5px 10px;
    margin: 15px 0;
    border: 1px solid $dark-brown;
    border-radius: 3px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.selectContainer {
    position: relative;
    width: 300px;
    margin-bottom: 15px;
}

.inputTypehead {
    padding: 10px;
    border: 1px solid $gray-black;
    width: calc(100% - 20px);
    transition: all .3s ease;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &.error {
        border: 1px solid $red;
    }
}

.sugesstedList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: $white;
    border-left: 1px solid $white-gray;
    border-right: 1px solid $white-gray;
    box-shadow: 0px 0px 26px -2px rgba(0, 0, 0,.3);
    cursor: pointer;
}

.sugesstedItem {
    padding: 10px;
    border-bottom: 1px solid $white-gray;
    color: $mid-gray;
    &:hover {
        background-color: $white-gray;
    }
}

.icon {
    margin: 0 10px;
    color: $light-brown;
}

.pencil {
    color: $light-brown;
    border: 1px solid $light-brown;
    padding: 5px;
    margin: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.arrow {
    transition: all .3s ease;

    &.active {
        transform: rotate(-180deg)
    }
}

.dropdownArrow {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    pointer-events: none;
}

.errorMessage {
    font-size: 14px;
    color: $red;
    padding: 5px;
    opacity: 0;
    transition: all .3s ease;

    .icon {
        color: $red;
    }

    &.error {
        opacity: 1;
    }
}